/* # remove all visual vomit */
a[href="https://support.discord.com"],
/* remove paid stuff */
a[href="/store"],
a[href="/shop"],
/* ??? why */
div[class^="nowPlayingColumn"],
/* channel banner & boost stuff */
div[class^="animatedContainer"],
ul[aria-label="Channels"]>div[style="height: 84px;"],
ul[aria-label="Channels"]>div[style="height: 12px;"],
div[data-list-item-id^="channels___boosts"],
/* activity */
div[class^="container"][class*="openOnHover"],
/* guild tags */
span[class^="chipletContainer"],
/* avatar decos */
img[class^="avatarDecoration"],
svg[class^="avatarDecoration"],
/* role images */
img[aria-label^="Role icon"],
div[class^="newMemberBadge"],
/* nitro */
svg[aria-label^="Server boosting"],
div[class^="profileEffects"],
header>svg>foreignObject,
/* oh so special badges */
div[aria-label="User Badges"],
/* statuses */
div[class^="memberInner"]>div[class^="content"]>div[class^="subText"],
/* backgrounds */
div[class^="member"]>div[class*="nameplated"]>div[style],
div.app-launcher-entrypoint,
/* chat buttons */
button[aria-label="Open sticker picker"],
button[aria-label="Open GIF picker"],
button[aria-label="Send a gift"] {
    display: none;
}

/* # i have eyes (removes annoying "new unread!", "someone's on vc!") */
div[class^="container"][class*="bottom"],
div[class^="newMessagesBar"] {
    display: none;
}

/* # i can see channels now! (condenses channels, a lot [leads to wrong height calculations]) */
/* dividers and spacing */
div[class^="sectionDivider"],
div[style="height: 16px;"],
/* text icon removal */
div[aria-label="Announcements icon"],
div[aria-label="Announcements (Limited) icon"],
div[aria-label="Announcements (Age-Restricted) icon"],
div[aria-label="Forum icon"],
div[aria-label="Forum (Limited) icon"],
div[aria-label="Forum (Age-Restricted) icon"],
div[aria-label="Rules icon"],
div[aria-label="Rules (Limited) icon"],
div[aria-label="Rules (Age-Restricted) icon"],
div[aria-label="Text icon"],
div[aria-label="Text (Limited) icon"],
div[aria-label="Text (Age-Restricted) icon"] {
    display: none;
}

/* remove pads&margins from channel&member lists */
div[class^="channelTextArea"],
ul[aria-label="Channels"]>*,
ul[aria-label="Channels"]>li>div>*,
/* ul[aria-label="Channels"]>li>div>*>*, */
ul[aria-label="Channels"]>li>div>*>*>*,
div[data-list-item-id^="channels"],
div[role="list"][aria-label="Members"]>*,
div[role="list"][aria-label="Members"]>*>* {
    padding: 0;
    margin: 0;
}

/* remove headers */
header[class^="header"],
div[class^="iconVisibility"][class*="wrapper"][class*="wrapperCommon"][class*="clickable"] {
    display: none !important;
}

/* # adjust member&channel list */
div[class^="chat"][data-has-border]>div[class^="content"]>div[class^="container"]:not([data-member-list-open]),
div[role="list"][aria-label="Members"],
div[class^="sidebarList"][class*="sidebarListRounded"] {
    width: 175px;
}

/* # scuffed edition */
:root {
    --space-0: 0px;
    --space-4: 0px;
    --space-6: 0px;
    --space-8: 0px;
    --space-10: 0px;
    --space-12: 0px;
    --space-16: 0px;
    --space-20: 0px;
    --space-24: 0px;
    --space-26: 0px;
    --space-30: 0px;
    --space-32: 32px;
    --space-40: 0px;
    --space-48: 0px;
    --space-64: 0px;
    --space-80: 0px;
    --space-96: 0px;
    --space-128: 0px;
    --space-160: 0px;
    --space-192: 0px;
}