/* ==UserStyle==
@name           No Unnecessary Scroll For Free Games
@namespace      github.com/openstyles/stylus
@version        1
@description    Tired of scrolling to find the free games? How about putting them RIGHT ON TOP of the store page?
@author         Egezenn
@preprocessor   stylus
==/UserStyle== */
@-moz-document regexp("https:\\/\\/store\\.epicgames\\.com\\/.*?\\/")
	i = !important

	div[data-testid='discover-page-0']>div>span:nth-of-type(7)// might break
		width 60vw
		padding 16px i
		position fixed i
		top 0 i
		left 0 i
		z-index 9999 i

		*
			background rgba(0, 0, 0, .3) i

			:hover
				background rgba(0, 0, 0, 1) i

		img
			opacity .5
