/* ==UserStyle==
@name           YouTube Fullwindow Theater & Customizations
@namespace      https://userstyles.world/user/egezenn
@version        1.3.3
@description    Use up all the window in theatre mode with hoverable header!
Along with lots of optional removals & customizations
@preprocessor   stylus
@author         Egezenn
@var            range    headerWidth                "Header width"                              [80, 10, 100, 1, "vw"]
@var            checkbox enablePlayerCustomizations "Enable player customizations"              0
@var            checkbox pinPBarBottom              "Pin progress bar to bottom"                0
@var            range    controlScale               "Control scale"                             [0.8, 0, 1, 0.01]
@var            checkbox allowPBarColorChanges      "Change progress bar colors"                0
@var            color    pbar-progress              "Progress section color"                    rgba(255, 0, 51, 1)
@var            color    pbar-scrub                 "Scrub button color"                        rgba(255, 0, 51, 1)
@var            color    pbar-loaded                "Loaded section color"                      rgba(255, 255, 255, .4)
@var            color    pbar-rest                  "Rest of the bar"                           rgba(255, 255, 255, .2)
@var            checkbox fixedSubs                  "Force subtitle styling (customization soon)" 0
@var            checkbox rmPreviews                 "Remove video previews"                     0
@var            checkbox rmChips                    "Remove chips (filters on homepage)"        0
@var            checkbox rmShorts                   "Remove shorts from feeds"                  0
@var            checkbox transparentHeader          "Transparent header"                        0
@var            checkbox rmGradientOnPlayer         "Remove gradient from player"               0
@var            checkbox rmEnd                      "Remove endscreen video suggestions"        0
@var            checkbox rmBranding                 "Remove branding (channel icons)"           0
@var            checkbox rmVoice                    "Remove voice button"                       0
@var            checkbox rmSurvey                   "Remove surveys"                            0
@var            checkbox rmSign                     "Remove sign-in"                            0
@var            checkbox rmExplore                  "Remove explore on sidebar"                 0
@var            checkbox rmChannelsOnVidList        "Remove channels from video suggestions"    0
@var            checkbox rmChat                     "Remove chat"                               0
@var            checkbox rmNudges                   "Remove nudges"                             0
@var            checkbox rmPopups                   "Remove popups"                             0
@var            checkbox rmPaidContent              "Remove paid content warnings"              0
@var            checkbox rmBackdropsOnPlayer        "Remove glass effect(blur) from player UI"  0
@var            checkbox rmHeatmap                  "Remove heatmap on progress bar hover"      0
@var            checkbox disableSubTransitions      "Disable subtitle transitions"              0
@var            checkbox rmCreate                   "Remove create button"                      0
@var            checkbox rmNotifications            "Remove notification button"                0
@var            checkbox rmCountryCode              "Remove country code beside logo"           0
@var            checkbox rmLogoText                 "Remove text from logo"                     0
@var            checkbox rmMoreFrom                 "Remove more from button"                   0
==/UserStyle== */
i = !important

@-moz-document url-prefix("https://www.youtube.com")
    if rmShorts
        ytd-rich-section-renderer
        ytd-reel-shelf-renderer
        ytd-mini-guide-entry-renderer[aria-label='Shorts']
            display none i

    if rmPreviews
        #video-preview
        #mouseover-overlay
        #hover-overlays
            display none i

    if rmVoice
        #voice-search-button
        button.ytSearchboxComponentSearchButton.ytSearchboxComponentSearchButtonDark
            display none i

        .ytSearchboxComponentInputBox.ytSearchboxComponentInputBoxDark
            border-radius 40px i

        .ytSearchboxComponentClearButtonWrapper
            padding-right 1rem i

    if transparentHeader
        #background.ytd-masthead
        #masthead-container
        .ytSearchboxComponentInputBox.ytSearchboxComponentInputBoxDark
            background rgba(0, 0, 0, .3) i

        .ytSearchboxComponentSuggestionsContainer.ytSearchboxComponentSuggestionsContainerDark.ytSearchboxComponentSuggestionsContainerScrollable
            background rgba(0, 0, 0, .6) i

        #frosted-glass
            display none i

    if rmSurvey
        #attached-survey
            display none i

    if rmSign
        a[aria-label='Sign in']
        ytd-guide-signin-promo-renderer
            display none i

    if rmExplore
        #sections > ytd-guide-section-renderer:nth-of-type(3)
            display none i

    if rmNudges
        ytd-feed-nudge-renderer
            display none i

    if rmCountryCode
        #country-code
            display none i

    if rmBackdropsOnPlayer
        .yt-spec-button-shape-next--enable-backdrop-filter-experiment
        #background
            backdrop-filter unset i

    if rmCreate
        #buttons > ytd-button-renderer
            display none i

    if rmNotifications
        #buttons > ytd-notification-topbar-button-renderer
            display none i

    if rmLogoText
        g[id^='youtube-paths_yt']
            display none i

        ytd-topbar-logo-renderer
            width 30px i

        #logo-icon
            min-width unset i
            width fit-content i
    else
        ytd-topbar-logo-renderer
        a#logo
            width 105px i

@-moz-document regexp("https://www\\.youtube\\.com/?")
    if rmChips
        ytd-rich-grid-renderer > #header
        #chips
            display none i

@-moz-document url-prefix("https://www.youtube.com/watch?v=")
    ytd-watch-flexy[theater]:not([fullscreen]) #full-bleed-container.ytd-watch-flexy
    ytd-watch-flexy[theater]:not([fullscreen]) #player-full-bleed-container.ytd-watch-flexy
        height calc(100.5vh)
        max-height calc(100.5vh)

    ytd-watch[theater] #player.ytd-watch
        padding-top 15px i

    #masthead-container
        left: ((100vw - headerWidth) / 2)
        margin-right -50%
        opacity 0
        position relative
        right 0
        top 0 i
        transform translate(-50%, 0)
        width headerWidth i
        z-index 1000

    #masthead-container:hover
        left calc(((100vw - headerWidth) / 2))
        opacity .9
        right 0
        top 0 i
        width headerWidth i

    #masthead-container
    #background
        border-radius 0 0 1.5rem 1.5rem i

    ytd-page-manager
        margin-top -6px i

    #contents.ytd-section-list-renderer > .ytd-section-list-renderer:not(:last-child):not(ytd-page-introduction-renderer):not([item-dismissed]).ytd-section-list-renderer
        border-color transparent

    #logo-icon
    #container
        padding 0 i

    .ytSearchboxComponentInputBox
    .ytSearchboxComponentHost
        margin 0 i

    #start
    #end
        min-width unset i
        width fit-content i

    if rmEnd
        .ytp-ce-video
        .ytp-ce-channel
            display none i

    if rmGradientOnPlayer
        .ytp-gradient-bottom
            display none i

    if rmAnimationHovers
        .ytp-chrome-bottom
            transition none i

    if rmBranding
        .iv-branding
            display none i

    if rmChannelsOnVidList
        #contents > ytd-channel-renderer
            display none i

    if rmChat
        #chat-container
        ytd-live-chat-frame
        #full-bleed-container > #panels-full-bleed-container
            display none i

    if rmPopups
        ytd-popup-container
            display none i

    if rmPaidContent
        .ytp-paid-content-overlay
            display none i

    if rmBackdropsOnPlayer
        .ytp-time-wrapper-delhi
        .ytp-delhi-modern
        .ytp-chrome-controls
        .ytp-play-button
        .ytp-right-controls
        .ytp-popup
        .ytp-delhi-modern-contextmenu
        .yt-spec-button-shape-next--enable-backdrop-filter-experiment
            backdrop-filter unset i

    if rmHeatmap
        .ytp-heat-map-container
            display none i

    if disableSubTransitions
        .ytp-caption-window-container > div[id^='caption-window']:only-child
            margin-bottom none i

        .ytp-caption-window-rollup.ytp-rollup-mode .captions-text
            transition none i

    if fixedSubs
        .ytp-caption-segment
        .caption-window
            background unset i
            bottom 2% i

        .ytp-caption-segment
            color white i
            fill white i
            font-family sans-serif i
            font-size 3rem i
            text-shadow rgba(34, 34, 34, .75) 1.6px 1.6px 2.4px, rgba(34, 34, 34, .75) 1.6px 1.6px 3.2px, rgba(34, 34, 34, .75) 1.6px 1.6px 4px i

        #ytp-caption-window-container
            display flex i

        .caption-window
            align-items center i
            left 50% i
            margin 0 auto i
            transform translate(-50%, -50%)
            width unset i

    if enablePlayerCustomizations
        if pinPBarBottom
            .ytp-progress-bar-container
                bottom 4px i

        .ytp-left-controls
            flex unset i
            transform scale(controlScale) i
            transform-origin left center i
            width fit-content i

        .ytp-right-controls
            margin-left auto i
            transform scale(controlScale) i
            transform-origin right center i

        if allowPBarColorChanges
            .ytp-play-progress
                background pbar-progress i

            .ytp-scrubber-button
                background pbar-scrub i

            .ytp-load-progress
                background pbar-loaded i

            .ytp-progress-list
                background pbar-rest i

        if rmMoreFrom
            .ytp-button.ytp-cards-button[aria-label^='More from']
            .ytp-cards-teaser
                display none i

@-moz-document url-prefix("https://www.youtube.com/results?search_query=")
    if rmShorts
        .ytGridShelfViewModelHost.ytd-item-section-renderer.ytGridShelfViewModelHostHasBottomButton
        ytd-shelf-renderer[modern-typography][thumbnail-style]
            display none i

@-moz-document url-prefix("https://music.youtube.com")
    ytmusic-mealbar-promo-renderer
        display none i
