.app-body {
  align-items: flex-start;
  background-color: black;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin: 0;
  scrollbar-width: thin;
  user-select: none;
}

.main-content {
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-bottom: 200px;
  padding-right: 200px;
  scrollbar-width: none;
}

.main-content::-webkit-scrollbar {
  display: none;
}

.main-canvas {
  background-color: white;
  display: block;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
}

.canvas-wrapper {
  border: 1px solid #555;
  box-sizing: content-box;
  height: 200px;
  padding: 0 10px 10px 0;
  position: relative;
  width: 200px;
}

.limit-visualizer {
  border-bottom: 4px dashed rgb(0 255 255);
  border-right: 4px dashed rgb(0 255 255);
  height: 100%;
  width: 100%;
}

.color-display-box {
  border: 1px solid black;
  height: 20px;
  width: 20px;
}

.eraser-color-display-box {
  border: 1px solid black;
  height: 20px;
  width: 20px;
  background-color: white;
}

.tools {
  align-items: center;
  background-color: #33333380;
  border-bottom: 1px solid #333;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  gap: 1rem;
  min-height: 34px;
  overflow-x: auto;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.tool-button {
  background-color: #555;
  border-radius: 4px;
  border: 1px solid #777;
  color: white;
  cursor: pointer;
  padding: 8px 12px;
}

.tool-button:hover {
  background-color: #666;
}

.tool-button-active {
  background-color: blue;
  color: white;
}

.tool-button-active:hover {
  background-color: #44f;
}

.tool-button-inactive {
  background-color: gray;
  color: black;
}

.tools-input {
  background-color: #333;
  border-radius: 4px;
  border: 1px solid #555;
  color: white;
  padding: 8px;
  width: 3rem;
}

.tools-input:focus {
  border-color: #007bff;
  box-shadow: 0 0 0 2px rgb(0 123 255 / 50%);
  outline: none;
}

.tools-checkbox-radio {
  accent-color: #007bff;
}

.tools-label {
  color: #ccc;
  margin-right: 5px;
}

.modal {
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0 0 0 / 40%);
  display: none;
}

.modal-active {
  display: block;
}

.modal-content {
  background-color: #333;
  border-radius: 8px;
  border: 1px solid #888;
  color: white;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  position: relative;
  top: 20px;
  width: 100%;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.drawing-canvas-hidden {
  display: none;
}

.notification {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1001;
  display: none;
}

.notification-active {
  display: block;
}

.header {
  display: inline;
}

.custom-cursor {
  position: absolute;
  pointer-events: none;
}

.hidden {
  display: none;
}

.cursor-size-1 {
  transform: translate(0, 0);
}

.cursor-size-other {
  transform: translate(-50%, -50%);
}

.cursor-round {
  border-radius: 50%;
}

.cursor-square {
  border-radius: 0;
}

.cursor-selection-base {
  transform: translate(-50%, -50%);
  background-color: transparent;
  background-image: none;
  border: 1px solid blue;
  height: 16px;
  width: 16px;
}

.cursor-fill-base {
  background-color: #000;
  border: 1px solid red;
  width: 16px;
  height: 16px;
  transform: translate(-50%, -50%);
  background-image: none;
}
