@import url("https://www.nerdfonts.com/assets/css/webfont.css");

body {
  color: rgb(255 255 255 / 90%);
  font-family: "MesloLGM Nerd Font Mono", ui-monospace, monospace;
  font-size: 9px;
  height: 100%;
  overflow: hidden;
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

html,
#root {
  height: 100%;
}

#root {
  background: #202020;
}

.app,
.left,
.left > div,
.right,
.right > div,
.workspaces,
.workspace,
.binding-mode,
.tiling-direction,
.paused-button,
.date,
.media,
.media > *,
.network > div,
.network .received,
.network .transmitted,
.cpu,
.memory,
.audio,
.battery > div,
.disk > div,
.ip {
  align-items: center;
  display: flex;
  height: 100%;
}

.app {
  justify-content: space-between;
}

.right {
  justify-self: end;
}

/* Group common spacing and behavior for right-side items */
.binding-mode,
.tiling-direction,
.paused-button,
.media,
.network,
.memory,
.cpu,
.battery,
.audio,
.workspace {
  margin-right: 4px;
}

/* Base styles for all status bar components/containers */
.workspace,
.binding-mode,
.tiling-direction,
.paused-button,
.date,
.media,
.media > *,
.network > .status,
.network .received,
.network .transmitted,
.cpu,
.memory,
.audio,
.battery > div,
.disk > div,
.ip {
  align-items: center;
  background: linear-gradient(to right, var(--fill-color) var(--fill), transparent var(--fill));
  border: 1px solid rgb(255 255 255 / 15%);
  color: inherit;
  display: flex;
  font-family: inherit;
  font-size: inherit;
  height: 100%;
  padding: 0 8px;
}

.workspace,
.binding-mode,
.paused-button,
.network > .status,
.tiling-direction {
  cursor: pointer;
}

.workspace *,
.binding-mode *,
.paused-button *,
.network > .status *,
.tiling-direction * {
  cursor: inherit;
}

.workspace.focused,
.workspace.displayed {
  background-color: rgb(75 115 255 / 100%);
  border-color: rgb(75 115 255 / 80%);
  transition: none;
}

.nf {
  margin-right: 4px;
}

/* Specialized Colors */
.media {
  border-color: rgb(203 211 94 / 30%);
  color: #cbd35e;
}

.media > * {
  border-right: 1px solid rgb(203 211 94 / 30%);
  padding: 0 6px;
}

.media > *:last-child {
  border: none;
}

.network .received {
  border-color: rgb(168 101 231 / 30%);
  color: #a865e7;
  margin-right: 1px;
}

.network .transmitted {
  border-color: rgb(74 197 74 / 30%);
  color: #4ac54a;
}

.network .received .nf,
.network .transmitted .nf {
  margin-right: 2px;
}

.cpu {
  border-color: rgb(226 103 59 / 30%);
  color: #e2673b;
  transition:
    border-color 0.3s,
    color 0.3s;
}

.cpu.high-usage {
  border-color: #f00;
  color: #f00;
}

.memory {
  border-color: rgb(221 160 221 / 30%);
  color: #dda0dd;
}

.audio {
  border-color: rgb(127 255 212 / 30%);
  color: #7fffd4;
}

.battery > div {
  border-color: rgb(240 70 155 / 30%);
  color: #f0469b;
}

.disk > .first {
  border-color: rgb(100 149 237 / 30%);
  color: #6495ed;
  margin-right: 1px;
}

.disk > .second {
  border-color: rgb(65 105 225 / 30%);
  color: #4169e1;
}

/* Widths and Alignment */
.cpu,
.memory,
.audio,
.battery > .percentage,
.network .received,
.network .transmitted {
  justify-content: center;
  width: 4rem;
}

.network > .status,
.tiling-direction {
  justify-content: center;
  min-width: 2rem;
  width: fit-content;
}

.network .status .nf {
  font-size: 11px;
  margin-right: 6px;
}

.network .status .ssid {
  flex: 1;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}
