/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import "https://www.nerdfonts.com/assets/css/webfont.css";

body {
  color: rgb(255 255 255 / 90%);
  font-family: "MesloLGM Nerd Font Mono", ui-monospace, monospace;
  font-size: 12px;
  overflow: hidden;
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

#root {
  /* border-bottom: 1px solid rgb(255 255 255 / 5%); */
  background: #202020;
}

.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.left,
.left > div,
.right,
.right > div {
  display: flex;
  align-items: center;
}

.right {
  justify-self: end;
}

.binding-mode,
.tiling-direction,
.paused-button,
.media,
.network,
.memory,
.cpu,
.battery,
.audio {
  margin-right: 8px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: inherit;
  margin-right: 4px;
  padding: 4px 8px;
  color: rgb(255 255 255 / 90%);
  border: 1px solid rgb(255 255 255 / 15%);
  border-radius: 6px;
  cursor: pointer;

  &.displayed {
    background: rgb(255 255 255 / 15%);
    border: 1px solid rgb(255 255 255 / 15%);
  }

  &.focused,
  &:hover {
    background: rgb(75 115 255 / 50%);
    border: 1px solid rgb(75 115 255 / 50%);
  }
}

.binding-mode,
.tiling-direction,
.paused-button {
  background: inherit;
  color: rgb(255 255 255 / 90%);
  border-radius: 6px;
  padding: 4px 8px;
  cursor: pointer;
  border: 1px solid rgb(255 255 255 / 15%);
}

.binding-mode {
  margin-right: 4px;
}

.date {
  color: rgb(255 255 255 / 90%);
  /* border: 1px solid rgb(255 255 255 / 90%);
  padding: 4px 8px 2px 8px;
  border-radius: 6px; */
  padding: 4px 8px 2px 8px;
}

.media {
  color: #cbd35e;
  display: inline;
  border: 1px solid #cbd35e;
  padding: 0 8px 0 8px;
  border-radius: 6px;
}

.media > * {
  display: inline;
  height: 100%;
  padding: 4px 8px 2px 8px;
  border-right: 1px solid #cbd35e;

  &:first-child {
    padding-left: 0px;
  }

  &:last-child {
    padding-right: 0px;
    border: none;
  }
}

.network > .received {
  color: #a865e7;
  border: 1px solid #a865e7;
  padding: 4px 8px 2px 8px;
  border-radius: 6px 0 0 6px;
  margin-right: 1px;
}

.network > .transmitted {
  color: #4ac54a;
  border: 1px solid #4ac54a;
  padding: 4px 8px 2px 8px;
  border-radius: 0 6px 6px 0;
}

.cpu {
  color: #e2673b;
  border: 1px solid #e2673b;
  padding: 4px 8px 2px 8px;
  border-radius: 6px;
}

.cpu .high-usage {
  color: #ff0000;
  background-color: #000000;
}

.memory {
  color: #dda0dd;
  border: 1px solid #dda0dd;
  padding: 4px 8px 2px 8px;
  border-radius: 6px;
}

.audio {
  color: #7fffd4;
  border: 1px solid #7fffd4;
  padding: 4px 8px 2px 8px;
  border-radius: 6px;
}

.battery > .percentage {
  color: #f0469b;
  border: 1px solid #f0469b;
  padding: 4px 8px 2px 8px;
  border-radius: 6px 0 0 6px;
}

.battery > .state {
  color: #f0469b;
  border: 1px solid #f0469b;
  padding: 4px 8px 2px 8px;
  border-radius: 0 6px 6px 0;
}
.disk > .first {
  color: #6495ed;
  border: 1px solid #6495ed;
  padding: 4px 8px 2px 8px;
  border-radius: 6px 0 0 6px;
  margin-right: 1px;
}

.disk > .second {
  color: #4169e1;
  border: 1px solid #4169e1;
  padding: 4px 8px 2px 8px;
  border-radius: 0 6px 6px 0;
}
