@import url("https://www.nerdfonts.com/assets/css/webfont.css");

body {
  color: rgb(255 255 255 / 90%);
  font-family: "MesloLGM Nerd Font Mono", ui-monospace, monospace;
  font-size: 9px;
  overflow: hidden;
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

#root {
  /* border-bottom: 1px solid rgb(255 255 255 / 5%); */
  background: #202020;
}

.app {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.left,
.left > div,
.right,
.right > div {
  align-items: center;
  display: flex;
  height: 100%;
}

.right {
  justify-self: end;
}

.binding-mode,
.tiling-direction,
.paused-button,
.media,
.network,
.memory,
.cpu,
.battery,
.audio {
  margin-right: 4px;
}

.workspaces {
  align-items: center;
  display: flex;
  height: 100%;
}

.workspace {
  align-items: center;
  background: inherit;
  border: 1px solid rgb(255 255 255 / 15%);
  color: rgb(255 255 255 / 90%);
  cursor: pointer;
  display: flex;
  height: 100%;
  margin-right: 4px;
  padding: 0 6px;
}

.workspace.displayed {
  background: rgb(255 255 255 / 15%);
  border: 1px solid rgb(255 255 255 / 15%);
}

.workspace.focused,
.workspace:hover {
  background: rgb(75 115 255 / 50%);
  border: 1px solid rgb(75 115 255 / 50%);
}

.binding-mode,
.tiling-direction,
.paused-button {
  align-items: center;
  background: inherit;
  border: 1px solid rgb(255 255 255 / 15%);
  color: rgb(255 255 255 / 90%);
  cursor: pointer;
  display: flex;
  height: 100%;
  padding: 0 8px;
}

.binding-mode {
  margin-right: 4px;
}

.date {
  align-items: center;
  border: 1px solid rgb(255 255 255 / 15%);
  color: rgb(255 255 255 / 90%);
  display: flex;
  height: 100%;
  margin-right: 4px;
  padding: 0 8px;
}

.media {
  align-items: center;
  border: 1px solid rgb(203 211 94 / 30%);
  color: #cbd35e;
  display: flex;
  height: 100%;
  padding: 0 6px;
}

.media > * {
  align-items: center;
  border-right: 1px solid rgb(203 211 94 / 30%);
  display: flex;
  height: 100%;
  padding: 0 6px;
}

.media > *:first-child {
  padding-left: 0;
}

.media > *:last-child {
  border: none;
  padding-right: 0;
}

.network > .received {
  align-items: center;
  border: 1px solid rgb(168 101 231 / 30%);
  color: #a865e7;
  display: flex;
  height: 100%;
  margin-right: 1px;
  padding: 0 6px;
}

.network > .transmitted {
  align-items: center;
  border: 1px solid rgb(74 197 74 / 30%);
  color: #4ac54a;
  display: flex;
  height: 100%;
  padding: 0 6px;
}

.cpu {
  align-items: center;
  border: 1px solid rgb(226 103 59 / 30%);
  color: #e2673b;
  display: flex;
  height: 100%;
  padding: 0 6px;
}

.cpu .high-usage {
  color: #f00;
}

.memory {
  align-items: center;
  border: 1px solid rgb(221 160 221 / 30%);
  color: #dda0dd;
  display: flex;
  height: 100%;
  padding: 0 6px;
}

.audio {
  align-items: center;
  border: 1px solid rgb(127 255 212 / 30%);
  color: #7fffd4;
  display: flex;
  height: 100%;
  padding: 0 6px;
}

.battery > .percentage {
  align-items: center;
  border: 1px solid rgb(240 70 155 / 30%);
  color: #f0469b;
  display: flex;
  height: 100%;
  padding: 0 6px;
}

.battery > .state {
  align-items: center;
  border: 1px solid rgb(240 70 155 / 30%);
  color: #f0469b;
  display: flex;
  height: 100%;
  padding: 0 6px;
}

.disk > .first {
  align-items: center;
  border: 1px solid rgb(100 149 237 / 30%);
  color: #6495ed;
  display: flex;
  height: 100%;
  margin-right: 1px;
  padding: 0 6px;
}

.disk > .second {
  align-items: center;
  border: 1px solid rgb(65 105 225 / 30%);
  color: #4169e1;
  display: flex;
  height: 100%;
  padding: 0 6px;
}

.network > .received,
.network > .transmitted,
.cpu,
.memory,
.audio,
.battery > .percentage {
  justify-content: center;
  text-align: center;
  width: 4rem;
}

.network > .received,
.network > .transmitted {
  width: 5rem;
}
