browser.tabs.closeWindowWithLastTab: false
browser.tabs.groups.enabled: false
full-screen-api.transition-duration.enter: 0 0	
full-screen-api.transition-duration.leave: 0 0	
full-screen-api.transition.timeout: 0	
full-screen-api.warning.delay: 0	
full-screen-api.warning.timeout: 0
media.videocontrols.picture-in-picture.enable-when-switching-tabs.enabled: true
ui.key.menuAccessKey: 0