#urlbar-background,
.urlbar-background,
#navigator-toolbox,
.urlbar-input-container {
  height: 2rem !important;
}

#urlbar {
  top: 0 !important;
}

#urlbar-container,
hbox.urlbar-input-container,
#tabs-newtab-button,
hbox.tab-content,
vbox.tab-background,
vbox.tab-content {
  border: 0 !important;
  border-radius: unset !important;
  margin: 0 !important;
  padding: 0 !important;
}

#tabs-newtab-button,
vbox.tab-background,
hbox.tab-content,
stack.tab-stack {
  height: 1rem !important;
}

toolbarbutton#PanelUI-menu-button,
stack.toolbarbutton-badge-stack,
toolbarbutton.titlebar-button.titlebar-min,
toolbarbutton.titlebar-button.titlebar-max,
toolbarbutton.titlebar-button.titlebar-close {
  padding: 0 2px !important;
}

#main-window[sidebar-expand-on-hover] > html:body > #browser > #sidebar-main,
#sidebar-launcher-splitter {
  display: none !important;
}

#sidebar-main {
  background: rgb(0 0 0 / 50%);
  border-radius: 0.25rem;
  max-width: unset !important;
  overflow: hidden !important;
  position: fixed;
  right: 0;
  scrollbar-width: none !important;
  top: 0;

  /* left: 50%; */

  /* transform: translateX(-50%); */
  transform: scale(0.7) !important;
  transform-origin: top right !important;
  width: 2rem !important;
  z-index: 2147483647;
}

#sidebar-main:hover {
  padding: 1rem !important;
  width: 10% !important;
}

#sidebar-main
  > html:sidebar-main
  > #vertical-tabs
  > #tabbrowser-tabs
  > #tabbrowser-arrowscrollbox
  > tab.tabbrowser-tab
  > stack.tab-stack
  > hbox.tab-content
  > vbox.tab-label-container,
#sidebar-main
  > html:sidebar-main
  > #vertical-tabs
  > #tabbrowser-tabs
  > #tabbrowser-arrowscrollbox
  > tab.tabbrowser-tab
  > stack.tab-stack
  > vbox.tab-background {
  display: none !important;
}

#sidebar-main:hover
  > html:sidebar-main
  > #vertical-tabs
  > #tabbrowser-tabs
  > #tabbrowser-arrowscrollbox
  > tab.tabbrowser-tab
  > stack.tab-stack
  > hbox.tab-content
  > vbox.tab-label-container,
#sidebar-main:hover
  > html:sidebar-main
  > #vertical-tabs
  > #tabbrowser-tabs
  > #tabbrowser-arrowscrollbox
  > tab.tabbrowser-tab
  > stack.tab-stack
  > vbox.tab-background {
  display: flex !important;
}

#tabbrowser-tabs:not([expanded]),
toolbarbutton#back-button[disabled],
toolbarbutton#forward-button[disabled],
moz-button[view="viewHistorySidebar"],
moz-button[view="viewCustomizeSidebar"],
toolbarbutton#sidebar-button,
button[aria-label="Mute tab"],
#vertical-spacer,
/*image.tab-close-button,*/
#tabs-newtab-button,
button[title="More tools"],
#sidebar-tools-and-extensions-splitter,
#vertical-tabs::after,
hbox[tooltiptext="Add tab to taskbar"] {
  display: none !important;
}

:root {
  --tab-min-height: unset !important;
}

#tabbrowser-arrowscrollbox[orient="vertical"] {
  min-height: unset !important;
}

.tabbrowser-tab {
  padding-top: 0 !important;
}

#nav-bar {
  padding: 0 10% !important;
}

.toolbarbutton-badge {
  margin-top: 10px !important;
}

.tab-label-container {
  mask-image: none !important;
}

#statuspanel {
  bottom: unset !important;
  margin: 0 !important;
  max-width: 10% !important;
  min-width: unset !important;
  opacity: 0.7 !important;
  padding: 0 !important;
  top: -21px !important;
}

findbar {
  bottom: 0 !important;
  left: 50% !important;
  opacity: 0.7 !important;
  position: absolute !important;
  transform: translate(-50%, -50%) scale(0.85) !important;
  width: 780px !important;
}

#sidebar-box {
  height: 100% !important;
  opacity: 0.7 !important;
  position: absolute !important;
  width: 20% !important;
  z-index: 999 !important;
}

#sidebar {
  border-radius: unset !important;
}
